{{ if eq .chezmoi.username "even" }}
[user]
	name = Xiangyu Zhu
	email = carson.zhu@evenrealities.com
{{ else }}
[user]
	name = Frefreak
	email = frefreak.zxy@gmail.com
{{ end }}
[pull]
	rebase = true

[url "git@github.com:"]
	insteadOf = https://github.com/

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto

[credential]
	helper = cache --timeout=3600
