[bell]
animation = "EaseOutExpo"
color = "0xffffff"
duration = 0

[colors]
draw_bold_text_with_bright_colors = true

[colors.bright]
black = "0x575b70"
blue = "0x6272a4"
cyan = "0x8be9fd"
green = "0x50fa7b"
magenta = "0xbd93f9"
red = "0xff5555"
white = "0xff79c6"
yellow = "0xf1fa8c"

[colors.normal]
black = "0x282a36"
blue = "0x6272a4"
cyan = "0x8be9fd"
green = "0x50fa7b"
magenta = "0xbd93f9"
red = "0xff5555"
white = "0xff79c6"
yellow = "0xf1fa8c"

[colors.primary]
background = "0x282a36"
foreground = "0xf8f8f2"

[cursor]
unfocused_hollow = true

[debug]
persistent_logging = false
render_timer = false

[env]
TERM = "xterm-256color"

[font]
{{- if eq .chezmoi.os "darwin" }}
size = 19
{{- else }}
size = 17
{{ end }}

[font.bold]
{{ if eq .chezmoi.os "linux" }}
family = "monospace"
{{ else if eq .chezmoi.os "darwin" -}}
family = "FantasqueSansM Nerd Font Mono"
{{ end -}}
style = "Bold"

[font.glyph_offset]
x = 0
y = 0

[font.italic]
{{ if eq .chezmoi.os "linux" }}
family = "monospace"
{{ else if eq .chezmoi.os "darwin" -}}
family = "FantasqueSansM Nerd Font Mono"
{{ end -}}
style = "Italic"

[font.normal]
{{ if eq .chezmoi.os "linux" }}
family = "monospace"
{{ else if eq .chezmoi.os "darwin" -}}
family = "FantasqueSansM Nerd Font Mono"
{{ end -}}
style = "Regular"

[font.offset]
x = 0
y = 0

[[hints.enabled]]
{{- if eq .chezmoi.os "darwin" }}
command = "open"
{{- else }}
command = "xdg-open"
{{ end }}
post_processing = true
regex = "(ipfs:|ipns:|magnet:|mailto:|gemini:|gopher:|https:|http:|news:|file:|git:|ssh:|ftp:)[^\u0000-\u001F\u007F-<>\"\\s{-}\\^⟨⟩`]+"

[hints.enabled.mouse]
enabled = true
mods = "Control"

[mouse]
hide_when_typing = false

[[mouse.bindings]]
action = "PasteSelection"
mouse = "Middle"

[scrolling]
history = 10000
multiplier = 3

[selection]
save_to_clipboard = true
semantic_escape_chars = ",│`|:\"' ()[]{}<>"

[window]
decorations = "full"
dynamic_padding = false
startup_mode = "Windowed"

[window.dimensions]
columns = 80
lines = 24

[window.padding]
x = 2
y = 2

[general]
live_config_reload = true
