[bell]
animation = "EaseOutExpo"
color = "0xffffff"
duration = 0

[colors.primary]

background = "#282a36"
foreground = "#f8f8f2"
bright_foreground = "#ffffff"

[colors.cursor]

text = "#282a36"
cursor = "#f8f8f2"

[colors.vi_mode_cursor]

text = "CellBackground"
cursor = "CellForeground"

[colors.selection]

text = "CellForeground"
background = "#44475a"

[colors.normal]

black = "#21222c"
red = "#ff5555"
green = "#50fa7b"
yellow = "#f1fa8c"
blue = "#6272a4"
magenta = "#ff79c6"
cyan = "#8be9fd"
white = "#f8f8f2"

[colors.bright]

black = "#6272a4"
red = "#ff6e6e"
green = "#69ff94"
yellow = "#ffffa5"
blue = "#6272a4"
magenta = "#ff92df"
cyan = "#a4ffff"
white = "#ffffff"

[colors.search.matches]

foreground = "#44475a"
background = "#50fa7b"

[colors.search.focused_match]

foreground = "#44475a"
background = "#ffb86c"

[colors.footer_bar]

background = "#282a36"
foreground = "#f8f8f2"

[colors.hints.start]

foreground = "#282a36"
background = "#f1fa8c"

[colors.hints.end]

foreground = "#f1fa8c"
background = "#282a36"

[cursor]
unfocused_hollow = true

[debug]
persistent_logging = false
render_timer = false

[env]
TERM = "xterm-256color"

[font]
{{- if eq .chezmoi.os "darwin" }}
size = 19
{{- else }}
size = 17
{{ end }}

[font.bold]
{{ if eq .chezmoi.os "linux" }}
family = "monospace"
{{ else if eq .chezmoi.os "darwin" -}}
family = "FantasqueSansM Nerd Font Mono"
{{ end -}}
style = "Bold"

[font.glyph_offset]
x = 0
y = 0

[font.italic]
{{ if eq .chezmoi.os "linux" }}
family = "monospace"
{{ else if eq .chezmoi.os "darwin" -}}
family = "FantasqueSansM Nerd Font Mono"
{{ end -}}
style = "Italic"

[font.normal]
{{ if eq .chezmoi.os "linux" }}
family = "monospace"
{{ else if eq .chezmoi.os "darwin" -}}
family = "FantasqueSansM Nerd Font Mono"
{{ end -}}
style = "Regular"

[font.offset]
x = 0
y = 0

[[hints.enabled]]
{{- if eq .chezmoi.os "darwin" }}
command = "open"
{{- else }}
command = "xdg-open"
{{ end }}
post_processing = true
regex = "(ipfs:|ipns:|magnet:|mailto:|gemini:|gopher:|https:|http:|news:|file:|git:|ssh:|ftp:)[^\u0000-\u001F\u007F-<>\"\\s{-}\\^⟨⟩`]+"

[hints.enabled.mouse]
enabled = true
mods = "Control"

{{- if eq .chezmoi.os "darwin" }}
[[keyboard.bindings]]
action = "Paste"
key = "V"
mods = "Control|Shift"
{{- end }}

[mouse]
hide_when_typing = false

[[mouse.bindings]]
action = "PasteSelection"
mouse = "Middle"

[scrolling]
history = 10000
multiplier = 3

[selection]
save_to_clipboard = true
semantic_escape_chars = ",│`|:\"' ()[]{}<>"

[window]
decorations = "full"
dynamic_padding = false
startup_mode = "Windowed"
option_as_alt = "OnlyLeft"

[window.dimensions]
columns = 80
lines = 24

[window.padding]
x = 2
y = 2

[general]
live_config_reload = true


[[keyboard.bindings]]
key = "Return"
mods = "Shift"
chars = "\u001B\r"
